groq
huggingface-hub
langchain
langchain-community
langchain-core
langchain-groq
langchain-ollama
langchain-text-splitters
pydantic
pydantic-settings
pydantic_core
rank-bm25
requests
sentence-transformers
streamlit
uvicorn
fastapi
faiss-cpu